<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Data for user: {{ name }}</title>
</head>
<body>
    <div id="wrapper">
        <h1>Data for user: {{ name }}</h1>
        <ul>
            <li>Name: {{ name }}</li>
            <li>Handle: {{ handle }}</li>
            <li>Score: {{ score }}</li>
            <li>Degree: {{ degree }}</li>
        </ul>
        <h2>Path to evil:</h2>
        <img class="graph" src="../static/sample_graph.jpg" />
    </div>
</body>
</html>